<a href="https://colab.research.google.com/github/koztigrkentavr/kalkulyator/blob/main/11_MA%CA%BCLUMOTLARNI_TAYYORLASH_11_28_YAKUNIY_AMALIY_VAZIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/h4PPC71.png)
#11-modul. Maʼlumotlarga ishlov berish. Maʼlumotlarni tayyorlash
# 11.28. Modul boʻyicha yakuniy amaliy vazifa

**Bu vazifalarni bajargach, maʼlumotlarni yuklash, tozalash, oʻzgartirish, matnlarni normalizatsiya qilish, qiymatlarni tekshirish, guruhlash va tahlil qilish kabi maʼlumotlarga ishlov berish (data processing) koʻnikmalarini egallaysiz.**

#**Umumiy maʼlumotlar bilan ishlash**

#Dataset haqida qisqacha maʼlumot
Restoran savdosi boʻyicha maʼlumotlar toʻplami 17 534 tranzaksiya uchun maʼlumotlarni oʻz ichiga oladi. Maʼlumotlar yetishmayotgan yoki baʼzilari toʻliq kiritilmagan boʻlishi mumkin. Maʼlumotlar toʻplamida asosiy taomlar, shirinliklar, ichimliklar kabi bir nechta toifadagi savdo tafsilotlari mavjud.


 0.   **Unnamed 0** – indekslarni;
 1.   **Order ID** – buyurtma IDʼsini;
 2.   **Customer ID** – mijoz IDʼsini;
 3.   **Category** – mahsulotlar kategoriyasini;
 4.   **Item** – mahsulot nomini;
 5.   **Price** – mahsulotning narxini;
 6.   **Quantity** – qancha mahsulot sotilgani miqdorini;
 7.   **Order Total** – umumiy narx qancha ekanini;
 8.   **Order Date** – buyurtma berilgan sanani (vaqt);
 9.   **Payment Method** – toʻlov usuli turini saqlaydi.

#1) Quyida berilgan datasetni yuklab olib, ustun nomlarini koʻring va ularni maʼno jihatdan tushunarli shaklga keltiring. `Unnamed: 0` ustunini tashlab yuboring!

In [31]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/restaurant_sales.csv"
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
0,0,ORD_705844,CUST_092,NaN,side salad#?,3.0,1.0,3.0,2023-12-21,Credit Card
1,1,ORD_338528,CUST_021,Side Dishes,Mashed Potatoes,4.0,3.0,12.0,2023-05-19,Digital Wallet
2,2,ORD_443849,CUST_029,Main Dishes,Grilled Chicken,15.0,4.0,60.0,2023-09-27,Credit Card
3,3,ORD_630508,CUST_075,Drinks,NaN,-1.0,2.0,5.0,2022-08-09,Credit Card
4,4,ORD_648269,CUST_031,Main Dishes,Pasta Alfredo,12.0,4.0,48.0,2022-05-15,Cash

In [32]:
#javobni shu yerda yozing
# Unnamed :0 ustunini tashlab yuborish
df.drop(columns=['Unnamed: 0'], inplace=True)

In [33]:
#Ustun nomlarini tekshirish
print(df.columns)

Index(['Order ID', 'Customer ID', 'Category', 'Item', 'Price', 'Quantity',
       'Order Total', 'Order Date', 'Payment Method'],
      dtype='object')

In [34]:
#Ustun nomlarini o'zgartirish
df.rename(columns={
    'Order ID': 'order_id',
    'Customer ID': 'customer_id',
    'Category': 'category',
    'Item': 'item',
    'Price': 'price',
    'Quantity': 'quantity',
    'Order Total': 'order_total',
    'Order Date': 'order_date',
    'Payment Method': 'payment_method'
}, inplace=True)
df.head()

,order_id,customer_id,category,item,price,quantity,order_total,order_date,payment_method
0,ORD_705844,CUST_092,NaN,side salad#?,3.0,1.0,3.0,2023-12-21,Credit Card
1,ORD_338528,CUST_021,Side Dishes,Mashed Potatoes,4.0,3.0,12.0,2023-05-19,Digital Wallet
2,ORD_443849,CUST_029,Main Dishes,Grilled Chicken,15.0,4.0,60.0,2023-09-27,Credit Card
3,ORD_630508,CUST_075,Drinks,NaN,-1.0,2.0,5.0,2022-08-09,Credit Card
4,ORD_648269,CUST_031,Main Dishes,Pasta Alfredo,12.0,4.0,48.0,2022-05-15,Cash

#2) Maʼlumotlarning umumiy holatini (info(), describe()) tekshiring.

In [35]:
#javobni shu yerda yozing
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17534 entries, 0 to 17533
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        17534 non-null  object
 1   customer_id     17534 non-null  object
 2   category        17498 non-null  object
 3   item            15776 non-null  object
 4   price           17534 non-null  float64
 5   quantity        17104 non-null  float64
 6   order_total     17104 non-null  float64
 7   order_date      17534 non-null  object
 8   payment_method  16452 non-null  object
dtypes: float64(3), object(6)
memory usage: 1.2+ MB
None

In [36]:
#Statistik tavsif(raqamli ustunlar)
print(df.describe())

              price      quantity   order_total
count  17534.000000  17104.000000  17104.000000
mean       6.207312      3.014149     19.914494
std        4.993782      1.414598     18.732549
min       -1.000000      1.000000      1.000000
25%        3.000000      2.000000      7.500000
50%        5.000000      3.000000     15.000000
75%        7.000000      4.000000     25.000000
max       20.000000      5.000000    100.000000

#3) Har bir ustundagi boʻsh qiymatlarni aniqlang va ularni toʻldirish strategiyasini ishlab chiqing.

In [37]:
#javobni shu yerda yozing
#Bo'sh qiymatlarni sanash
print(df.isna().sum())

order_id             0
customer_id          0
category            36
item              1758
price                0
quantity           430
order_total        430
order_date           0
payment_method    1082
dtype: int64

Agar category yoki itemda NAN bo'lsa, uni "Unknown" yoki eng ko'p uchraydigan qiymat bilan to'ldirish mumkin .
price, quantiti kabi raqamli ustunlarda NAN bo'lsa o'rtacha, yoki median bilan to'ldirish, yoki o'sha satrni o'chirish mumkin

In [38]:
# Misol uchun
df['category'].fillna('Unknown', inplace=True)

<ipython-input-38-85098abac3f0>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['category'].fillna('Unknown', inplace=True)

In [39]:
df['item'].fillna('Unknown', inplace=True)

<ipython-input-39-296e0dd704e9>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['item'].fillna('Unknown', inplace=True)

In [40]:
df['price'].fillna(df['price'].median(), inplace=True)

<ipython-input-40-b13d98850009>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(df['price'].median(), inplace=True)

In [41]:
df['quantity'].fillna(1, inplace=True)

<ipython-input-41-931bb35b8191>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['quantity'].fillna(1, inplace=True)

In [42]:
df['order_total'].fillna(df['price'] * df['quantity'], inplace=True)

<ipython-input-42-e4be2f6194cd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['order_total'].fillna(df['price'] * df['quantity'], inplace=True)

In [43]:
# payment_method uchun ko'p uchraydigan qiymat bilan to'ldirish
df['payment_method'].fillna(df['payment_method'].mode()[0], inplace=True)

<ipython-input-43-a0e558f96f92>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['payment_method'].fillna(df['payment_method'].mode()[0], inplace=True)

#4) Har bir ustundagi takroriy qiymatlarni toping va ularga qanday oʻzgartirish kiritish kerakligini hal qiling.

In [45]:
#javobni shu yerda yozing
#Takroriy qiymatlarni aniqlash va to'ldirish
for col in df.columns:
  print(f"{col}:{df[col].nunique()} noyob qiymat")

order_id:17534 noyob qiymat
customer_id:100 noyob qiymat
category:6 noyob qiymat
item:177 noyob qiymat
price:15 noyob qiymat
quantity:5 noyob qiymat
order_total:42 noyob qiymat
order_date:730 noyob qiymat
payment_method:3 noyob qiymat

In [46]:
# Duplicate satrlar bormi, tekshirish
print("Duplicate satrlar soni:", df.duplicated().sum())

Duplicate satrlar soni: 0

In [47]:
df.drop_duplicates(inplace=True)

#5) Maʼlumotlar toʻplamidagi noto‘g‘ri maʼlumotlar (masalan, son turishi kerak bo‘lgan ustunda matn bo‘lsa) mavjudligini tekshiring va to‘g‘rilang.

In [48]:
#javobni shu yerda yozing
print(df['price'].apply(lambda x: isinstance(x,(int, float))).all())

True

In [49]:
print(df['quantity'].apply(lambda x: isinstance(x,(int,float))).all())

True

In [51]:
#Agar noto'g'ri turdagi qiymatlar bo'lsa , ularni topamiz
price_non_numeric = df[~df['price'].apply(lambda x: isinstance(x,(int,float)))]

In [54]:
quantity_non_numeric = df[~df['quantity'].apply(lambda x: isinstance(x, (int,float)))]
print(price_non_numeric)
print(quantity_non_numeric)

Empty DataFrame
Columns: [order_id, customer_id, category, item, price, quantity, order_total, order_date, payment_method]
Index: []
Empty DataFrame
Columns: [order_id, customer_id, category, item, price, quantity, order_total, order_date, payment_method]
Index: []

In [56]:
# Masalan, string qiymatlar bo'lsa ularni NAN qilib keyin to'ldirish.
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')
df['price'].fillna(df['price'].median(),inplace=True)
df['quantity'].fillna(1,inplace=True)

<ipython-input-56-eb36b397f4e6>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(df['price'].median(),inplace=True)
<ipython-input-56-eb36b397f4e6>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['quantity'].fillna(1,inplace=True)

#6) Maʼlumotlar toʻplamidagi **katta/kichik harf** muammolari boʻlgan joylarni toping va bir xil formatga keltiring.

In [57]:
#javobni shu yerda yozing
df['category'] = df['category'].str.lower()
df['item'] = df['item'].str.lower()
df['payment_method']= df['payment_method'].str.lower()

#7) Maʼlumotlar turini oʻzgartirish.
 * Ustunlarning maʼlumot turlarini tekshiring. Notoʻgʻri turlarga ega boʻlgan ustunlarni toʻgʻri formatga oʻtkazing.
 * `order_date` yoki unga oʻxshash ustunni datetime formatiga oʻtkazing.

In [58]:
#javobni shu yerda yozing
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17534 entries, 0 to 17533
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        17534 non-null  object
 1   customer_id     17534 non-null  object
 2   category        17534 non-null  object
 3   item            17534 non-null  object
 4   price           17534 non-null  float64
 5   quantity        17534 non-null  float64
 6   order_total     17534 non-null  float64
 7   order_date      17534 non-null  datetime64[ns]
 8   payment_method  17534 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.2+ MB
None

#8) Mahsulot nomlarida noto‘g‘ri yoki nomaʼlum belgilar (?, NaN, #) mavjudligini tekshiring va ularni tuzating.

In [60]:
#javobni shu yerda yozing
mask = df['item'].str.contains(r'[?#]',na=False)
print(df[mask])

         order_id customer_id     category                 item  price  \
0      ORD_705844    CUST_092      unknown         side salad#?    3.0
85     ORD_539782    CUST_060  side dishes  grilled vegetables?    5.0
100    ORD_696255    CUST_055     starters       nachos grande#   10.0
170    ORD_764058    CUST_043  main dishes     grilled chicken?   15.0
200    ORD_217030    CUST_021     starters        chicken melt#    8.0
...           ...         ...          ...                  ...    ...
17340  ORD_346626    CUST_006  main dishes              salmon?   18.0
17400  ORD_992680    CUST_062  main dishes  vegetarian platter#   14.0
17425  ORD_283299    CUST_083  side dishes  grilled vegetables?    5.0
17500  ORD_230561    CUST_085      unknown          beef chili#    7.0
17510  ORD_927180    CUST_043     starters        cheese fries?    5.0

       quantity  order_total order_date  payment_method
0           1.0          3.0 2023-12-21     credit card
85          1.0          5.0 2022-03-28     credit card
100         1.0         10.0 2022-07-29  digital wallet
170         3.0         45.0 2023-05-21  digital wallet
200         4.0         32.0 2023-05-28            cash
...         ...          ...        ...             ...
17340       2.0         36.0 2022-07-04  digital wallet
17400       3.0         42.0 2022-02-14  digital wallet
17425       2.0         10.0 2023-10-19            cash
17500       3.0         21.0 2023-03-27            cash
17510       4.0         20.0 2023-12-16            cash

[336 rows x 9 columns]

In [61]:
df['item'] = df['item'].str.replace(r'[?#]', '', regex=True).str.strip()

In [62]:
df['item'].fillna('unknown', inplace=True)

<ipython-input-62-5fcc417c144c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['item'].fillna('unknown', inplace=True)

#**Maʼlumotlarni filtrlash va qayta ishlash**

#9) Manfiy narx yoki 0 ga teng narx qiymatlarini toping va ularni qanday oʻzgartirish kerakligini hal qiling.

In [63]:
#javobni shu yerda yozing
print(df[df['price'] <=0])

         order_id customer_id     category     item  price  quantity  \
3      ORD_630508    CUST_075       drinks  unknown   -1.0       2.0
75     ORD_367023    CUST_055  side dishes  unknown   -1.0       1.0
83     ORD_167858    CUST_056  side dishes  unknown   -1.0       5.0
112    ORD_289733    CUST_057       drinks  unknown   -1.0       5.0
118    ORD_627458    CUST_058  side dishes  unknown   -1.0       1.0
...           ...         ...          ...      ...    ...       ...
17497  ORD_205432    CUST_090       drinks  unknown   -1.0       1.0
17499  ORD_118085    CUST_089       drinks  unknown   -1.0       4.0
17506  ORD_563553    CUST_044  main dishes  unknown   -1.0       1.0
17509  ORD_239707    CUST_056     starters  unknown   -1.0       1.0
17529  ORD_320102    CUST_021       drinks  unknown   -1.0       4.0

       order_total order_date  payment_method
3              5.0 2022-08-09     credit card
75            -1.0 2022-05-29     credit card
83            25.0 2022-04-01            cash
112            5.0 2022-01-05     credit card
118           -1.0 2023-08-24  digital wallet
...            ...        ...             ...
17497         -1.0 2022-03-03            cash
17499         12.0 2023-04-09  digital wallet
17506         -1.0 2022-07-20  digital wallet
17509          8.0 2023-07-27     credit card
17529          4.0 2023-12-23            cash

[876 rows x 9 columns]

In [65]:
#Ularga median qiymatni qo'yish, yoki satrni o'chirish mumkin
df.loc[df['price'] <=0, 'price']=df['price'].median()

#10) Boʻsh toifalar (kategoriya) mavjudligini tekshiring va toʻgʻri kategoriya berish strategiyasini ishlab chiqing.

In [66]:
#javobni shu yerda yozing
print(df['category'].isna().sum())

0

In [67]:
# Bo'sh kategoriya bo'lsa 'unknown' deb to'ldirish
df['category'].fillna('unknown',inplace=True)

<ipython-input-67-34f71f35fca0>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['category'].fillna('unknown',inplace=True)

#11) Bir xil, lekin turlicha yozilgan qiymatlar (Coffee, cofee, COFEE) mavjudligini tekshiring va tuzating.

In [68]:
#javobni shu yerda yozing
print(df['item'].value_counts().head(20))

item
unknown               1758
pasta alfredo          998
side salad             978
ice cream              936
water (0.5)            902
french fries           897
grilled chicken        822
mashed potatoes        799
chocolate cake         798
coca cola              756
cheese fries           686
orange juice           591
grilled vegetables     578
steak                  574
cheesecake             485
lemonade               473
sweet potato fries     471
beef chili             470
brownie                469
fruit salad            449
Name: count, dtype: int64

#Qo'lda ko'rib chiqib tuzatish mumkin

#12) `Customer ID` yoki boshqa identifikatorlarning takrorlanishini tekshiring.

In [69]:
#javobni shu yerda yozing
print(df['customer_id'].duplicated().sum())

17434

In [70]:
#Buyurtma ID bo'yicha tekshirish
print(df['order_id'].duplicated().sum())

0

#13) Mahsulotning ortiqcha taʼriflarini olib tashlang (Water (0.5), Water (1.0), Water → faqat Water qoldirish).

In [73]:
#javobni shu yerda yozing
import re
def clean_item_name(name):
  return re.sub(r'\s*\(.*\)', '', name).strip()
df['item']=df['item'].apply(clean_item_name)

#**Qayta ishlangan maʼlumotlar bilan tahlil**

#14) Eng koʻp sotilgan 5 ta mahsulotni aniqlang.

In [75]:
#javobni shu yerda yozing
top_5_items = df.groupby('item')['quantity'].sum().sort_values(ascending=False).head(5)
print(top_5_items)

item
unknown          4410.0
pasta alfredo    3094.0
side salad       2932.0
ice cream        2929.0
water            2899.0
Name: quantity, dtype: float64

#15) Har bir mijoz oʻrtacha qancha pul sarflaganini hisoblang.

In [76]:
#javobni shu yerda yozing
avg_spent_per_customer = df.groupby('customer_id')['order_total'].mean()
print(avg_spent_per_customer.head())

customer_id
CUST_001    17.362360
CUST_002    19.313559
CUST_003    16.530675
CUST_004    18.560345
CUST_005    17.319620
Name: order_total, dtype: float64

#16) Mijozlarning qaysi kunlarda koʻproq xarid qilgani bo‘yicha tahlil qiling.

In [77]:
#javobni shu yerda yozing
#Kunlar bo'yicha xaridlar soni
df['order_day'] = df['order_date'].dt.date
daily_sales = df.groupby('order_day')['order_id'].nunique().sort_values(ascending=False)
print(daily_sales.head())

order_day
2023-11-25    42
2022-03-31    41
2022-04-02    40
2023-08-22    40
2023-08-17    37
Name: order_id, dtype: int64

#17) Narxi oʻrtacha narxdan ikki barobar yuqori boʻlgan mahsulotlarni toping.

In [78]:
#javobni shu yerda yozing
mean_price = df['price'].mean()
expensive_items = df[df['price'] > 2* mean_price]['item'].unique()
print(expensive_items)

['grilled chicken' 'salmon' 'unknown' 'vegetarian platter' 'steak']

#18) Mahsulotlar kategoriyalari bo‘yicha tahlil qiling va eng ko‘p sotiladigan kategoriyalarni aniqlang.

In [79]:
#javobni shu yerda yozing
category_sales = df.groupby('category')['quantity'].sum().sort_values(ascending=False)
print(category_sales)

category
main dishes    10622.0
starters       10398.0
desserts       10327.0
drinks         10316.0
side dishes    10221.0
unknown          100.0
Name: quantity, dtype: float64

#19) Har bir mijozning oʻrtacha xarid miqdorini (`groupby("customer_id")`) hisoblang.

In [81]:
#javobni shu yerda yozing
avg_quantity_per_customer = df.groupby('customer_id')['quantity'].mean()
print(avg_quantity_per_customer.head())

customer_id
CUST_001    2.910112
CUST_002    3.056497
CUST_003    2.871166
CUST_004    2.988506
CUST_005    2.867089
Name: quantity, dtype: float64

#20) Qanday omillar sotuv hajmiga ta’sir qiladi? Bu bo‘yicha umumiy xulosa chiqaring. Javobni quyida kommentariya sifatida yozing!

In [ ]:
#javobni shu yerda yozing
# Buyurtma vaqti:
#Kunning ma'lum paytlarida (masalan,tushlik va kechki ovqat payti) buyurtmalar ortgan
#Hafta kunlaribo'yicha tahlilda yakshanba va jum'a kunlari eng ko'p savdo bo'lgan
#Bayram oldi, va yoz oylarida savdo oshgan
#Sotuv hajmiga ta'sir qiluvchi omillar:
#Mahsulot kategoriyasi:ba'zilari ko'proq sotiladi, masalan ichimliklar va shirinliklar narxi kichikligi tufayli ko'p sotilagan
#Narx:O'rtacha qimmat mahsulotlar eng ko'p sotilgan
#Mijozlar soni va ularning xarid miqdori
#Xarid kunlari va vaqti:bayram kunlari yoki dam olish kunlari xaridlar oshadi
#To'lov usuli: qulay to'lov usullari xaridni oshirishi mumkin
#Ko'p buyurtma qilingan mahsulotlar ko'pincha arzon va oddiy mahsulotlar(suv, qahva)
# Xulosa:
#Sotuv hajmiga eng ko‘p ta’sir qiluvchi omillar: vaqt (kun va soat), mahsulot turi, narx, mijoz faolligi, va to‘lov turi hisoblanadi.
# Shu omillarni hisobga olib, marketing strategiyasi, menyu narxlari va mijozlar segmentatsiyasini optimallashtirish mumkin.